<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<nav class="is-primary" th:insert="fragments/nav"></nav>
<section class="section is-primary">
    <div class="hero container">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h2 class="is-size-2 has-text-weight-bold">¡Envío registrado!</h2>
                <p class="subtitle has-text-weight-bold">
                    Puedes consultar su estado en todo momento con el siguiente código:
                </p>
                <div class="box m-3 p-2 has-text-black has-text-weight-bold">
                    <p th:text="${newParcel.getId()}"></p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>