

<div class="container">
    <h2>Agregar Nota</h2>
    <form class="form-horizontal" method="post" action="/paquete/add" th:object="${paquete}">

        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email Destinatario</label>
            <div class="col-sm-10">
                <input id="email" type="email" class="form-control" name="email" placeholder="user@email.com" required="true" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Nombre Destinatario</label>
            <div class="col-sm-10">
                <input id="name" type="text" class="form-control" name="name" placeholder="Juan" required="true" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="surname">Apellidos Destinatario</label>
            <div class="col-sm-10">
                <input id="surname" type="text" class="form-control" name="surname" placeholder="Fernández" required="true" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="calle">Calle Destinatario</label>
            <div class="col-sm-10">
                <input id="calle" type="text" class="form-control" name="calle" placeholder="Avenida Principal" required="true" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="numero">Número</label>
            <div class="col-sm-10">
                <input id="numero" type="text" class="form-control" name="numero" placeholder="5" required="true" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="ciudad">Ciudad</label>
            <div class="col-sm-10">
                <input id="ciudad" type="text" class="form-control" name="ciudad" placeholder="Oviedo" required="true" />
            </div>
        </div

        <div class="form-group">
            <label class="control-label col-sm-2" for="peso">Peso:</label>
            <div class="col-sm-10">
                <input id="peso" type="number" class="form-control" name="score" placeholder="" required="true" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </form>
</div>