<!DOCTYPE html>
<html lang="es" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head" />
<body>
<nav th:replace="fragments/nav" />

<div class="container">
    <h2>Detalles del paquete</h2>
    <div class="panel panel-default">
        <div class="panel-heading">ID</div>
        <div class="panel-body" th:text="${paquete.id}"></div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Origen</div>
        <div class="panel-body" th:text="${paquete.origen}"></div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Destino</div>
        <div class="panel-body" th:text="${paquete.destino}"></div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Estado</div>
        <div class="panel-body" th:text="${paquete.estado}"></div>
    </div>
</div>

</body>
</html>