<table class="table table-hover">
    <thead>
    <tr>
        <th class="col-md-1">Id</th>
        <th>Origen</th>
        <th>Destino</th>
        <th>Estado</th>
        <th class="col-md-1"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="paquete : ${paquetesRecibidos}">
        <td th:text="${paquete.id}"></td>
        <td th:text="${paquete.origen}">Ejercicio 1</td>
        <td th:text="${paquete.destino}"></td>
        <td th:text="${paquete.estado}"></td>
        <td><a sec:authorize="hasRole('ROLE_USER')" th:href="${'/paquete/detail/' + paquete.id}">Consultar</a></td>
    </tr>
    </tbody>
</table>