<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<nav class="is-primary" th:insert="fragments/nav"></nav>
<section class="section">
    <div class="container">
        <h1 class="title">Mis Paquetes</h1>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Enviados
                        </p>
                    </header>
                    <div class="card-content">
                        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                            <tr>
                                <th>Destinatario</th>
                                <th>Estado</th>
                                <th>Detalles</th>
                            </tr>
                            <tr th:each="sentParcel: ${sentParcels}">
                                <td th:text="${sentParcel.recipient.getName()}"></td>
                                <td th:text="${sentParcel.getCurrentState().getNiceStatus()}"></td>
                                <td>
                                    <a class="button is-info is-fullwidth is-small"
                                       th:href="${'/parcel/detail?uuid=' + sentParcel.id}">
                                        Consultar
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Recibidos
                        </p>
                    </header>
                    <div class="card-content">
                        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                            <tr>
                                <th>Emisor</th>
                                <th>Estado</th>
                                <th>Detalles</th>
                            </tr>
                            <tr th:each="receivedParcel: ${receivedParcels}">
                                <td th:text="${receivedParcel.sender.getName()}"></td>
                                <td th:text="${receivedParcel.getCurrentState().getNiceStatus()}"></td>
                                <td>
                                    <a class="button is-info is-fullwidth is-small"
                                       th:href="${'/parcel/detail?uuid=' + receivedParcel.id}">
                                        Consultar
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>