<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<nav th:replace="fragments/nav"></nav>
<section class="hero is-medium is-link">
    <div class="hero-body">
        <p class="title">Transporte de paquetería Nacional e Internacional</p>
        <p class="subtitle">Donde nos necesitas, cuando nos necesitas</p>
    </div>
</section>
<section class="hero is-medium is-warning">
    <div class="hero-body">
        <p class="title">Máxima comodidad</p>
        <p class="subtitle">
            Regístrate para solicitar una recogida a domicilio.
            Indícanos los datos del receptor y el paquete para que un transportista pueda recogerlo en la puerta
            de tu casa en el menor tiempo posible.
        </p>
        <p class="subtitle">
            ¿Te han enviado un paquete y quieres consultar su estado?
            Puedes conocer su estado actual haciendo click en la barra superior (Consultar el estado de un envío) o
            desde tu perfil de usuario si ya estás registrado.
        </p>
    </div>
</section>
</body>
</html>