<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<main class="hero is-info is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <h3 class="title is-3 has-text-weight-bold">
                        Inicia sesión en <span class="is-italic is-uppercase">Paquetor</span>
                    </h3>
                    <form th:action="@{/login}" method="post" class="box">
                        <div class="field">
                            <label for="email" class="label">Email</label>
                            <div class="control has-icons-left">
                                <input type="text" class="input" id="email"
                                       name="username" placeholder="usuario@email.com" required="true"/>
                                <span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="password" class="label">Contraseña</label>
                            <div class="control has-icons-left">
                                <input type="password" class="input"
                                       name="password" id="password" placeholder="Contraseña" required="true"/>
                                <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                            </div>
                        </div>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <div class="field">
                            <button type="submit" class="button is-success">
                                Iniciar sesión
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>

