<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<nav th:replace="fragments/nav"></nav>
<main class="hero is-primary is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-8-tablet is-6-desktop is-5-widescreen mb-4">
                    <form th:action="@{/register}" method="post" th:object="${user}" class="box">
                        <div class="field">
                            <label for="name" class="label">Nombre</label>
                            <div class="control has-icons-left">
                                <input type="text" class="input"
                                       th:field="*{name}"
                                       name="name"
                                       id="name"
                                       placeholder="Edward" required="true" />
                            </div>
                        </div>

                        <div class="field">
                            <label for="surname" class="label">Apellidos</label>
                            <div class="control has-icons-left">
                                <input type="text" class="input"
                                       name="surname"
                                       th:field="*{lastName}"
                                       id="surname"
                                       placeholder="Snowden" required="true" />
                            </div>
                        </div>

                        <div class="field">
                            <label for="email" class="label">Email</label>
                            <div class="control has-icons-left">
                                <input type="email"
                                       class="input"
                                       id="email"
                                       th:field="*{email}"
                                       name="email"
                                       placeholder="snowden@not-the-cia.gov" required="true" />
                                <span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="dni" class="label">DNI</label>
                            <div class="control has-icons-left">
                                <input type="text"
                                       class="input"
                                       id="dni"
                                       th:field="*{DNI}"
                                       name="dni"
                                       placeholder="12345678A" required="true" />
                            </div>
                        </div>

                        <div class="field">
                            <label for="password" class="label">Contraseña</label>
                            <div class="control has-icons-left">
                                <input type="password"
                                       class="input"
                                       th:field="*{password}"
                                       name="password"
                                       id="password"
                                       placeholder="Contraseña" required="true"/>
                                <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="passwordConfirm" class="label">Repite tu contraseña</label>
                            <div class="control has-icons-left">
                                <input type="password"
                                       class="input"
                                       name="passwordConfirm"
                                       th:field="*{passwordConfirm}"
                                       id="passwordConfirm"
                                       placeholder="Repita la contraseña" required="true" />
                                <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="surname" class="label">Calle</label>
                            <div class="control has-icons-left">
                                <input type="text" class="input"
                                       name="surname"
                                       th:field="*{location.calle}"
                                       id="calle"
                                       placeholder="Avenida lejana" required="true" />
                            </div>
                        </div>

                        <div class="field">
                            <label for="surname" class="label">Número</label>
                            <div class="control has-icons-left">
                                <input type="number" class="input"
                                       name="number"
                                       th:field="*{location.numero}"
                                       id="numero"
                                       placeholder="12" required="true" />
                            </div>
                        </div>

                        <div class="field">
                            <label for="surname" class="label">Ciudad</label>
                            <div class="control has-icons-left">
                                <input type="text" class="input"
                                       name="surname"
                                       th:field="*{location.city.name}"
                                       id="text"
                                       placeholder="Oviedo" required="true" />
                            </div>
                        </div>

                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <div class="field">
                            <button type="submit" class="button is-success">
                                Enviar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>